In [2]:
import pandas as pd
import os
from tqdm import tqdm_notebook
import numpy as np

In [3]:
PATH = './data'
os.listdir(PATH)

['test.csv.gz',
 'sample_submission.csv.gz',
 'shops.csv',
 'sales_train.csv.gz',
 'item_categories.csv',
 'items.csv']

In [4]:
test     = pd.read_csv(os.path.join(PATH,'test.csv.gz'))
shops    = pd.read_csv(os.path.join(PATH,'shops.csv'))
sales    = pd.read_csv(os.path.join(PATH,'sales_train.csv.gz'))
item_cat = pd.read_csv(os.path.join(PATH,'item_categories.csv'))
item     = pd.read_csv(os.path.join(PATH,'items.csv'))

In [5]:
#sales_by_item_id = sales.pivot_table(index=['item_id'],values=['item_cnt_day'], 
 #                                       columns='date_block_num', aggfunc=np.sum, fill_value=0).reset_index()
#sales_by_item_id.columns = sales_by_item_id.columns.droplevel().map(str)
#sales_by_item_id = sales_by_item_id.reset_index(drop=True).rename_axis(None, axis=1)
#sales_by_item_id.columns.values[0] = 'item_id'

In [6]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [7]:
shops.shape

(60, 2)

In [8]:
print('unique shop name = ',shops['shop_name'].nunique())
print('unique shop id = ',shops['shop_id'].nunique())

unique shop name =  60
unique shop id =  60

In [9]:
shops['shop_name']

0                       !Якутск Орджоникидзе, 56 фран
1                       !Якутск ТЦ "Центральный" фран
2                                    Адыгея ТЦ "Мега"
3                      Балашиха ТРК "Октябрь-Киномир"
4                            Волжский ТЦ "Волга Молл"
5                              Вологда ТРЦ "Мармелад"
6                          Воронеж (Плехановская, 13)
7                              Воронеж ТРЦ "Максимир"
8                        Воронеж ТРЦ Сити-Парк "Град"
9                                   Выездная Торговля
10                         Жуковский ул. Чкалова 39м?
11                         Жуковский ул. Чкалова 39м²
12                                Интернет-магазин ЧС
13                                Казань ТЦ "Бехетле"
14                            Казань ТЦ "ПаркХаус" II
15                               Калуга ТРЦ "XXI век"
16                                   Коломна ТЦ "Рио"
17                      Красноярск ТЦ "Взлетка Плаза"
18                               Красноярск ТЦ "Июнь"
19                              Курск ТЦ "Пушкинский"
20                                Москва "Распродажа"
21                             Москва МТРЦ "Афи Молл"
22                                 Москва Магазин С21
23                   Москва ТК "Буденовский" (пав.А2)
24                   Москва ТК "Буденовский" (пав.К7)
25                                Москва ТРК "Атриум"
26                        Москва ТЦ "Ареал" (Беляево)
27                     Москва ТЦ "МЕГА Белая Дача II"
28                    Москва ТЦ "МЕГА Теплый Стан" II
29                 Москва ТЦ "Новый век" (Новокосино)
30                             Москва ТЦ "Перловский"
31                            Москва ТЦ "Семеновский"
32                         Москва ТЦ "Серебряный Дом"
33                                  Мытищи ТРК "XL-3"
34                               Н.Новгород ТРЦ "РИО"
35                        Н.Новгород ТРЦ "Фантастика"
36              Новосибирск ТРЦ "Галерея Новосибирск"
37                              Новосибирск ТЦ "Мега"
38                                     Омск ТЦ "Мега"
39              РостовНаДону ТРК "Мегацентр Горизонт"
40    РостовНаДону ТРК "Мегацентр Горизонт" Островной
41                             РостовНаДону ТЦ "Мега"
42                             СПб ТК "Невский Центр"
43                                    СПб ТК "Сенная"
44                                Самара ТЦ "Мелодия"
45                               Самара ТЦ "ПаркХаус"
46                              Сергиев Посад ТЦ "7Я"
47                             Сургут ТРЦ "Сити Молл"
48                       Томск ТРЦ "Изумрудный Город"
49                              Тюмень ТРЦ "Кристалл"
50                                 Тюмень ТЦ "Гудвин"
51                          Тюмень ТЦ "Зеленый Берег"
52                               Уфа ТК "Центральный"
53                                   Уфа ТЦ "Семья" 2
54                                    Химки ТЦ "Мега"
55                           Цифровой склад 1С-Онлайн
56                               Чехов ТРЦ "Карнавал"
57                            Якутск Орджоникидзе, 56
58                            Якутск ТЦ "Центральный"
59                             Ярославль ТЦ "Альтаир"
Name: shop_name, dtype: object

In [10]:
##shop id 0 and 57 is same
##shop id 1 and 58 is same

In [11]:
# Якутск Орджоникидзе, 56
sales.loc[sales.shop_id == 0, 'shop_id'] = 57
test.loc[test.shop_id == 0, 'shop_id'] = 57
# Якутск ТЦ "Центральный"
sales.loc[sales.shop_id == 1, 'shop_id'] = 58
test.loc[test.shop_id == 1, 'shop_id'] = 58
# Жуковский ул. Чкалова 39м²
sales.loc[sales.shop_id == 10, 'shop_id'] = 11
test.loc[test.shop_id == 10, 'shop_id'] = 11

In [12]:
sales.shop_id.nunique()

57

In [13]:
item_cat.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [14]:
item_cat.item_category_name.nunique()
item_cat.item_category_id.nunique()

84

84

In [15]:
item_cat.item_category_id.min()
item_cat.item_category_id.max()

0

83

In [16]:
item_cat["item_category_name"].values

array(['PC - Гарнитуры/Наушники', 'Аксессуары - PS2', 'Аксессуары - PS3',
       'Аксессуары - PS4', 'Аксессуары - PSP', 'Аксессуары - PSVita',
       'Аксессуары - XBOX 360', 'Аксессуары - XBOX ONE', 'Билеты (Цифра)',
       'Доставка товара', 'Игровые консоли - PS2',
       'Игровые консоли - PS3', 'Игровые консоли - PS4',
       'Игровые консоли - PSP', 'Игровые консоли - PSVita',
       'Игровые консоли - XBOX 360', 'Игровые консоли - XBOX ONE',
       'Игровые консоли - Прочие', 'Игры - PS2', 'Игры - PS3',
       'Игры - PS4', 'Игры - PSP', 'Игры - PSVita', 'Игры - XBOX 360',
       'Игры - XBOX ONE', 'Игры - Аксессуары для игр',
       'Игры Android - Цифра', 'Игры MAC - Цифра',
       'Игры PC - Дополнительные издания',
       'Игры PC - Коллекционные издания', 'Игры PC - Стандартные издания',
       'Игры PC - Цифра', 'Карты оплаты (Кино, Музыка, Игры)',
       'Карты оплаты - Live!', 'Карты оплаты - Live! (Цифра)',
       'Карты оплаты - PSN', 'Карты оплаты - Windows (Цифра)',
       'Кино - Blu-Ray', 'Кино - Blu-Ray 3D', 'Кино - Blu-Ray 4K',
       'Кино - DVD', 'Кино - Коллекционное',
       'Книги - Артбуки, энциклопедии', 'Книги - Аудиокниги',
       'Книги - Аудиокниги (Цифра)', 'Книги - Аудиокниги 1С',
       'Книги - Бизнес литература', 'Книги - Комиксы, манга',
       'Книги - Компьютерная литература',
       'Книги - Методические материалы 1С', 'Книги - Открытки',
       'Книги - Познавательная литература', 'Книги - Путеводители',
       'Книги - Художественная литература', 'Книги - Цифра',
       'Музыка - CD локального производства',
       'Музыка - CD фирменного производства', 'Музыка - MP3',
       'Музыка - Винил', 'Музыка - Музыкальное видео',
       'Музыка - Подарочные издания', 'Подарки - Атрибутика',
       'Подарки - Гаджеты, роботы, спорт', 'Подарки - Мягкие игрушки',
       'Подарки - Настольные игры',
       'Подарки - Настольные игры (компактные)',
       'Подарки - Открытки, наклейки', 'Подарки - Развитие',
       'Подарки - Сертификаты, услуги', 'Подарки - Сувениры',
       'Подарки - Сувениры (в навеску)',
       'Подарки - Сумки, Альбомы, Коврики д/мыши', 'Подарки - Фигурки',
       'Программы - 1С:Предприятие 8', 'Программы - MAC (Цифра)',
       'Программы - Для дома и офиса',
       'Программы - Для дома и офиса (Цифра)', 'Программы - Обучающие',
       'Программы - Обучающие (Цифра)', 'Служебные', 'Служебные - Билеты',
       'Чистые носители (шпиль)', 'Чистые носители (штучные)',
       'Элементы питания'], dtype=object)

In [17]:
##check Программы - Для дома и офиса and Программы - Для дома и офиса (Цифра)
## check Подарки - Настольные игры and Подарки - Настольные игры (компактные)

In [18]:
item_cat[item_cat.item_category_name=='Подарки - Настольные игры (компактные)'].head()

                        item_category_name  item_category_id
65  Подарки - Настольные игры (компактные)                65

In [19]:

#item.loc[item.item_category_id==76,'item_category_id'] = 75
#item.loc[item.item_category_id==65,'item_category_id'] = 64

In [20]:
item.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [21]:
item.item_name.nunique()
item.item_id.nunique()
item.item_category_id.nunique()

22170

22170

84

In [22]:
item.item_category_id.min()
item.item_category_id.max()

0

83

In [23]:
item.drop(['item_name'],axis=1,inplace=True)

In [24]:
sales.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [25]:
print("date_block_num = ",sales.date_block_num.nunique())

date_block_num =  34

In [26]:
target = 'item_cnt_day'

In [27]:
index_col = ['date_block_num','shop_id','item_id']

In [28]:
all_data = sales.groupby(index_col,as_index=False).agg({'item_price':'mean','item_cnt_day':'sum'})
all_data = pd.merge(all_data,item,on='item_id',how='left')

In [29]:
all_data.head()

,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id
0,0,2,27,2499.0,1.0,19
1,0,2,33,499.0,1.0,37
2,0,2,317,299.0,1.0,45
3,0,2,438,299.0,1.0,45
4,0,2,471,399.0,2.0,49

In [30]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [31]:
test_data = test.copy()
test_data['ID'] = [34] * test_data.shape[0]
test_data.columns = index_col

In [32]:
test_data.head()

   date_block_num  shop_id  item_id
0              34        5     5037
1              34        5     5320
2              34        5     5233
3              34        5     5232
4              34        5     5268

In [33]:
shift_range = [1]
for month_shift in tqdm_notebook(shift_range):
    train_shift = all_data.copy()
    train_shift['date_block_num'] = train_shift['date_block_num'] + month_shift
    train_shift.drop(['item_price'],axis=1,inplace=True)
    test_data = pd.merge(test_data,train_shift,on=index_col,how='left')
test_data.drop([target],axis=1,inplace=True)
test_data.fillna(0,inplace=True)

/Users/kamlesh/anaconda3/envs/ironman/lib/python3.6/site-packages/ipykernel_launcher.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [34]:
test_data['item_category_id'] = test_data['item_id'].map(item.item_category_id)
test_data.head()

   date_block_num  shop_id  item_id  item_category_id
0              34        5     5037                19
1              34        5     5320                55
2              34        5     5233                19
3              34        5     5232                23
4              34        5     5268                20

In [35]:
all_data.drop(['item_price'],axis=1,inplace=True)

In [36]:
test_data.head()

   date_block_num  shop_id  item_id  item_category_id
0              34        5     5037                19
1              34        5     5320                55
2              34        5     5233                19
3              34        5     5232                23
4              34        5     5268                20

In [37]:
train_data = all_data[all_data.date_block_num < 33]
valid_data = all_data[all_data.date_block_num == 33]

Y_train = train_data[target]
X_train =  train_data.copy().drop([target],axis=1)

Y_valid = valid_data[target]
X_valid = valid_data.copy().drop([target],axis=1)

In [41]:
from xgboost import XGBRegressor
from xgboost import plot_importance

model = XGBRegressor(
    max_depth = 4,
    n_estimators=1000,
    min_child_weight=300, 
    colsample_bytree=0.8, 
    subsample=0.8, 
    eta=0.1,    
    seed=42)

model.fit(
    X_train, 
    Y_train, 
    eval_metric="rmse", 
    eval_set=[(X_train, Y_train), (X_valid, Y_valid)], 
    verbose=True, 
    early_stopping_rounds = 10)

[13:23:52] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:8.40331	validation_1-rmse:14.4781
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 10 rounds.
[1]	validation_0-rmse:8.20138	validation_1-rmse:14.3553
[2]	validation_0-rmse:8.03581	validation_1-rmse:14.2703
[3]	validation_0-rmse:7.90221	validation_1-rmse:14.2045
[4]	validation_0-rmse:7.78544	validation_1-rmse:14.1461
[5]	validation_0-rmse:7.68994	validation_1-rmse:14.1149
[6]	validation_0-rmse:7.60804	validation_1-rmse:14.0786
[7]	validation_0-rmse:7.52981	validation_1-rmse:14.0476
[8]	validation_0-rmse:7.47476	validation_1-rmse:14.0348
[9]	validation_0-rmse:7.42884	validation_1-rmse:14.0159
[10]	validation_0-rmse:7.3802	validation_1-rmse:14.0031
[11]	validation_0-rmse:7.34633	validation_1-rmse:14.0002
[12]	validation_0-rmse:7.32246	validation_1-rmse:13.9947
[13]	validation_0-rmse:7.30285	validation_1-rmse:13.9919
[14]	validation_0-rmse:7.27962	validation_1-rmse:13.985

KeyboardInterrupt:

In [ ]:
Y_pred = model.predict(X_valid).clip(0, 20)
Y_test = model.predict(test_data).clip(0, 20)

submission = pd.DataFrame({
    "ID": test.index, 
    "item_cnt_month": Y_test
})
submission.to_csv('xgb_submission.csv', index=False)