In [117]:
import pandas as pd
import os
from tqdm import tqdm_notebook

In [2]:
PATH = './data'
os.listdir(PATH)

['test.csv.gz',
 'sample_submission.csv.gz',
 'shops.csv',
 'sales_train.csv.gz',
 'item_categories.csv',
 'items.csv']

In [99]:
test     = pd.read_csv(os.path.join(PATH,'test.csv.gz'))
shops    = pd.read_csv(os.path.join(PATH,'shops.csv'))
sales    = pd.read_csv(os.path.join(PATH,'sales_train.csv.gz'))
item_cat = pd.read_csv(os.path.join(PATH,'item_categories.csv'))
item     = pd.read_csv(os.path.join(PATH,'items.csv'))

In [75]:
shops.head()

                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [76]:
shops.shape

(60, 2)

In [77]:
print('unique shop name = ',shops['shop_name'].nunique())
print('unique shop id = ',shops['shop_id'].nunique())

unique shop name =  60
unique shop id =  60

In [78]:
shops['shop_name']

0                       !Якутск Орджоникидзе, 56 фран
1                       !Якутск ТЦ "Центральный" фран
2                                    Адыгея ТЦ "Мега"
3                      Балашиха ТРК "Октябрь-Киномир"
4                            Волжский ТЦ "Волга Молл"
5                              Вологда ТРЦ "Мармелад"
6                          Воронеж (Плехановская, 13)
7                              Воронеж ТРЦ "Максимир"
8                        Воронеж ТРЦ Сити-Парк "Град"
9                                   Выездная Торговля
10                         Жуковский ул. Чкалова 39м?
11                         Жуковский ул. Чкалова 39м²
12                                Интернет-магазин ЧС
13                                Казань ТЦ "Бехетле"
14                            Казань ТЦ "ПаркХаус" II
15                               Калуга ТРЦ "XXI век"
16                                   Коломна ТЦ "Рио"
17                      Красноярск ТЦ "Взлетка Плаза"
18                               Красноярск ТЦ "Июнь"
19                              Курск ТЦ "Пушкинский"
20                                Москва "Распродажа"
21                             Москва МТРЦ "Афи Молл"
22                                 Москва Магазин С21
23                   Москва ТК "Буденовский" (пав.А2)
24                   Москва ТК "Буденовский" (пав.К7)
25                                Москва ТРК "Атриум"
26                        Москва ТЦ "Ареал" (Беляево)
27                     Москва ТЦ "МЕГА Белая Дача II"
28                    Москва ТЦ "МЕГА Теплый Стан" II
29                 Москва ТЦ "Новый век" (Новокосино)
30                             Москва ТЦ "Перловский"
31                            Москва ТЦ "Семеновский"
32                         Москва ТЦ "Серебряный Дом"
33                                  Мытищи ТРК "XL-3"
34                               Н.Новгород ТРЦ "РИО"
35                        Н.Новгород ТРЦ "Фантастика"
36              Новосибирск ТРЦ "Галерея Новосибирск"
37                              Новосибирск ТЦ "Мега"
38                                     Омск ТЦ "Мега"
39              РостовНаДону ТРК "Мегацентр Горизонт"
40    РостовНаДону ТРК "Мегацентр Горизонт" Островной
41                             РостовНаДону ТЦ "Мега"
42                             СПб ТК "Невский Центр"
43                                    СПб ТК "Сенная"
44                                Самара ТЦ "Мелодия"
45                               Самара ТЦ "ПаркХаус"
46                              Сергиев Посад ТЦ "7Я"
47                             Сургут ТРЦ "Сити Молл"
48                       Томск ТРЦ "Изумрудный Город"
49                              Тюмень ТРЦ "Кристалл"
50                                 Тюмень ТЦ "Гудвин"
51                          Тюмень ТЦ "Зеленый Берег"
52                               Уфа ТК "Центральный"
53                                   Уфа ТЦ "Семья" 2
54                                    Химки ТЦ "Мега"
55                           Цифровой склад 1С-Онлайн
56                               Чехов ТРЦ "Карнавал"
57                            Якутск Орджоникидзе, 56
58                            Якутск ТЦ "Центральный"
59                             Ярославль ТЦ "Альтаир"
Name: shop_name, dtype: object

In [79]:
##shop id 0 and 57 is same
##shop id 1 and 58 is same

In [80]:
sales[sales.shop_id==57] = 0
sales[sales.shop_id==58] = 1
sales[sales.shop_id==11] = 10

In [81]:
sales.shop_id.nunique()

57

In [82]:
item_cat.head()

        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4

In [83]:
item_cat.item_category_name.nunique()
item_cat.item_category_id.nunique()

84

84

In [84]:
item_cat.item_category_id.min()
item_cat.item_category_id.max()

0

83

In [85]:
item_cat["item_category_name"].values

array(['PC - Гарнитуры/Наушники', 'Аксессуары - PS2', 'Аксессуары - PS3',
       'Аксессуары - PS4', 'Аксессуары - PSP', 'Аксессуары - PSVita',
       'Аксессуары - XBOX 360', 'Аксессуары - XBOX ONE', 'Билеты (Цифра)',
       'Доставка товара', 'Игровые консоли - PS2',
       'Игровые консоли - PS3', 'Игровые консоли - PS4',
       'Игровые консоли - PSP', 'Игровые консоли - PSVita',
       'Игровые консоли - XBOX 360', 'Игровые консоли - XBOX ONE',
       'Игровые консоли - Прочие', 'Игры - PS2', 'Игры - PS3',
       'Игры - PS4', 'Игры - PSP', 'Игры - PSVita', 'Игры - XBOX 360',
       'Игры - XBOX ONE', 'Игры - Аксессуары для игр',
       'Игры Android - Цифра', 'Игры MAC - Цифра',
       'Игры PC - Дополнительные издания',
       'Игры PC - Коллекционные издания', 'Игры PC - Стандартные издания',
       'Игры PC - Цифра', 'Карты оплаты (Кино, Музыка, Игры)',
       'Карты оплаты - Live!', 'Карты оплаты - Live! (Цифра)',
       'Карты оплаты - PSN', 'Карты оплаты - Windows (Цифра)',
       'Кино - Blu-Ray', 'Кино - Blu-Ray 3D', 'Кино - Blu-Ray 4K',
       'Кино - DVD', 'Кино - Коллекционное',
       'Книги - Артбуки, энциклопедии', 'Книги - Аудиокниги',
       'Книги - Аудиокниги (Цифра)', 'Книги - Аудиокниги 1С',
       'Книги - Бизнес литература', 'Книги - Комиксы, манга',
       'Книги - Компьютерная литература',
       'Книги - Методические материалы 1С', 'Книги - Открытки',
       'Книги - Познавательная литература', 'Книги - Путеводители',
       'Книги - Художественная литература', 'Книги - Цифра',
       'Музыка - CD локального производства',
       'Музыка - CD фирменного производства', 'Музыка - MP3',
       'Музыка - Винил', 'Музыка - Музыкальное видео',
       'Музыка - Подарочные издания', 'Подарки - Атрибутика',
       'Подарки - Гаджеты, роботы, спорт', 'Подарки - Мягкие игрушки',
       'Подарки - Настольные игры',
       'Подарки - Настольные игры (компактные)',
       'Подарки - Открытки, наклейки', 'Подарки - Развитие',
       'Подарки - Сертификаты, услуги', 'Подарки - Сувениры',
       'Подарки - Сувениры (в навеску)',
       'Подарки - Сумки, Альбомы, Коврики д/мыши', 'Подарки - Фигурки',
       'Программы - 1С:Предприятие 8', 'Программы - MAC (Цифра)',
       'Программы - Для дома и офиса',
       'Программы - Для дома и офиса (Цифра)', 'Программы - Обучающие',
       'Программы - Обучающие (Цифра)', 'Служебные', 'Служебные - Билеты',
       'Чистые носители (шпиль)', 'Чистые носители (штучные)',
       'Элементы питания'], dtype=object)

In [86]:
##check Для дома и офиса and Для дома и офиса (Цифра)
## check Подарки - Настольные игры and Подарки - Настольные игры (компактные)

In [87]:
item.head()

,item_name,item_id,item_category_id
0,! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.) D,0,40
1,!ABBYY FineReader 12 Professional Edition Full...,1,76
2,***В ЛУЧАХ СЛАВЫ (UNV) D,2,40
3,***ГОЛУБАЯ ВОЛНА (Univ) D,3,40
4,***КОРОБКА (СТЕКЛО) D,4,40

In [88]:
item.item_name.nunique()
item.item_id.nunique()
item.item_category_id.nunique()

22170

22170

84

In [89]:
item.item_category_id.min()
item.item_category_id.max()

0

83

In [90]:
item.drop(['item_name'],axis=1,inplace=True)

In [91]:
sales.head()

         date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0  02.01.2013               0       59    22154      999.00           1.0
1  03.01.2013               0       25     2552      899.00           1.0
2  05.01.2013               0       25     2552      899.00          -1.0
3  06.01.2013               0       25     2554     1709.05           1.0
4  15.01.2013               0       25     2555     1099.00           1.0

In [92]:
print("date_block_num = ",sales.date_block_num.nunique())

date_block_num =  34

In [119]:
target = 'item_cnt_day'

In [93]:
index_col = ['date_block_num','shop_id','item_id']

In [94]:
all_data = sales.groupby(index_col,as_index=False).agg({'item_price':'mean','item_cnt_day':'sum'})
all_data = pd.merge(all_data,item,on='item_id',how='left')

In [95]:
all_data.head()

,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id
0,0,0,0,0.0,0.0,40
1,0,0,32,221.0,6.0,40
2,0,0,33,347.0,3.0,37
3,0,0,35,247.0,1.0,40
4,0,0,43,221.0,1.0,40

In [103]:
test.head()

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [149]:
test_data = test.copy()
test_data['ID'] = [34] * test_data.shape[0]
test_data.columns = index_col

In [150]:
test_data.head()

   date_block_num  shop_id  item_id
0              34        5     5037
1              34        5     5320
2              34        5     5233
3              34        5     5232
4              34        5     5268

In [151]:
shift_range = [1]
for month_shift in tqdm_notebook(shift_range):
    train_shift = all_data.copy()
    train_shift['date_block_num'] = train_shift['date_block_num'] + month_shift
    test_data = pd.merge(test_data,train_shift,on=index_col,how='left')
test_data.drop([target],axis=1,inplace=True)

/Users/kamlesh/anaconda3/envs/ironman/lib/python3.6/site-packages/ipykernel_launcher.py:2: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`

HBox(children=(FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [152]:
test_data.head()

   date_block_num  shop_id  item_id  item_price  item_category_id
0              34        5     5037         NaN               NaN
1              34        5     5320         NaN               NaN
2              34        5     5233      1199.0              19.0
3              34        5     5232         NaN               NaN
4              34        5     5268         NaN               NaN

In [153]:
all_data.head()

,date_block_num,shop_id,item_id,item_price,item_cnt_day,item_category_id
0,0,0,0,0.0,0.0,40
1,0,0,32,221.0,6.0,40
2,0,0,33,347.0,3.0,37
3,0,0,35,247.0,1.0,40
4,0,0,43,221.0,1.0,40

In [154]:
test_data.head()

   date_block_num  shop_id  item_id  item_price  item_category_id
0              34        5     5037         NaN               NaN
1              34        5     5320         NaN               NaN
2              34        5     5233      1199.0              19.0
3              34        5     5232         NaN               NaN
4              34        5     5268         NaN               NaN

In [155]:
train_data = all_data[all_data.date_block_num < 33]
valid_data = all_data[all_data.date_block_num == 33]

Y_train = train_data[target]
X_train =  train_data.copy().drop([target],axis=1)

Y_valid = valid_data[target]
X_valid = valid_data.copy().drop([target],axis=1)

In [136]:
from xgboost import XGBRegressor
from xgboost import plot_importance

model = XGBRegressor(
    max_depth = 8,
    n_estimators=1000,
    min_child_weight=300, 
    colsample_bytree=0.8, 
    subsample=0.8, 
    eta=0.3,    
    seed=42)

model.fit(
    X_train, 
    Y_train, 
    eval_metric="rmse", 
    eval_set=[(X_train, Y_train), (X_valid, Y_valid)], 
    verbose=True, 
    early_stopping_rounds = 10)

/Users/kamlesh/anaconda3/envs/ironman/lib/python3.6/site-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/Users/kamlesh/anaconda3/envs/ironman/lib/python3.6/site-packages/xgboost/core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[23:44:58] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:59.4225	validation_1-rmse:14.936
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 10 rounds.
[1]	validation_0-rmse:59.3487	validation_1-rmse:14.8028
[2]	validation_0-rmse:59.3257	validation_1-rmse:14.6864
[3]	validation_0-rmse:59.2948	validation_1-rmse:14.6055
[4]	validation_0-rmse:59.2518	validation_1-rmse:14.4953
[5]	validation_0-rmse:59.2321	validation_1-rmse:14.4588
[6]	validation_0-rmse:59.2134	validation_1-rmse:14.4295
[7]	validation_0-rmse:59.1845	validation_1-rmse:14.3887
[8]	validation_0-rmse:59.1707	validation_1-rmse:14.3659
[9]	validation_0-rmse:59.1593	validation_1-rmse:14.3538
[10]	validation_0-rmse:59.1358	validation_1-rmse:14.3273
[11]	validation_0-rmse:59.1173	validation_1-rmse:14.299
[12]	validation_0-rmse:59.1063	validation_1-rmse:14.2798
[13]	validation_0-rmse:59.1007	validation_1-rmse:14.2805
[14]	validation_0-rmse:59.0985	validation_1-rmse:14.2713
[15]	validation_0-rmse:59.0982	validation_1-rmse:14.2696
[16]	validation_0-rmse:59.0813	validation_1-rmse:14.251
[17]	validation_0-rmse:59.074	validation_1-rmse:14.2418
[18]	validation_0-rmse:59.0739	validation_1-rmse:14.2244
[19]	validation_0-rmse:59.0741	validation_1-rmse:14.2172
[20]	validation_0-rmse:59.0676	validation_1-rmse:14.2096
[21]	validation_0-rmse:59.0628	validation_1-rmse:14.2102
[22]	validation_0-rmse:59.0639	validation_1-rmse:14.2073
[23]	validation_0-rmse:59.0584	validation_1-rmse:14.2003
[24]	validation_0-rmse:59.0539	validation_1-rmse:14.1943
[25]	validation_0-rmse:59.05	validation_1-rmse:14.1722
[26]	validation_0-rmse:59.0263	validation_1-rmse:14.137
[27]	validation_0-rmse:59.0068	validation_1-rmse:14.1354
[28]	validation_0-rmse:58.989	validation_1-rmse:14.129
[29]	validation_0-rmse:58.9909	validation_1-rmse:14.1329
[30]	validation_0-rmse:58.9861	validation_1-rmse:14.1332
[31]	validation_0-rmse:58.9828	validation_1-rmse:14.1345
[32]	validation_0-rmse:58.983	validation_1-rmse:14.1114
[33]	validation_0-rmse:58.9793	validation_1-rmse:14.0979
[34]	validation_0-rmse:58.9805	validation_1-rmse:14.0964
[35]	validation_0-rmse:58.9626	validation_1-rmse:14.0951
[36]	validation_0-rmse:58.9581	validation_1-rmse:14.0964
[37]	validation_0-rmse:58.9542	validation_1-rmse:14.0975
[38]	validation_0-rmse:58.952	validation_1-rmse:14.0983
[39]	validation_0-rmse:58.9341	validation_1-rmse:14.0932
[40]	validation_0-rmse:58.9176	validation_1-rmse:14.0749
[41]	validation_0-rmse:58.9182	validation_1-rmse:14.0743
[42]	validation_0-rmse:58.9135	validation_1-rmse:14.0677
[43]	validation_0-rmse:58.9135	validation_1-rmse:14.0675
[44]	validation_0-rmse:58.9009	validation_1-rmse:14.0611
[45]	validation_0-rmse:58.8967	validation_1-rmse:14.0574
[46]	validation_0-rmse:58.8973	validation_1-rmse:14.0495
[47]	validation_0-rmse:58.899	validation_1-rmse:14.0474
[48]	validation_0-rmse:58.8951	validation_1-rmse:14.0366
[49]	validation_0-rmse:58.8913	validation_1-rmse:14.0385
[50]	validation_0-rmse:58.8732	validation_1-rmse:14.0084
[51]	validation_0-rmse:58.8625	validation_1-rmse:14.0039
[52]	validation_0-rmse:58.8595	validation_1-rmse:13.9915
[53]	validation_0-rmse:58.8557	validation_1-rmse:13.9928
[54]	validation_0-rmse:58.8373	validation_1-rmse:13.9893
[55]	validation_0-rmse:58.8371	validation_1-rmse:13.9873
[56]	validation_0-rmse:58.833	validation_1-rmse:13.9861
[57]	validation_0-rmse:58.8211	validation_1-rmse:13.9843
[58]	validation_0-rmse:58.8111	validation_1-rmse:13.9757
[59]	validation_0-rmse:58.8105	validation_1-rmse:13.9638
[60]	validation_0-rmse:58.8013	validation_1-rmse:13.9478
[61]	validation_0-rmse:58.7961	validation_1-rmse:13.939
[62]	validation_0-rmse:58.7914	validation_1-rmse:13.9398
[63]	validation_0-rmse:58.7892	validation_1-rmse:13.933
[64]	validation_0-rmse:58.7886	validation_1-rmse:13.9325
[65]	validation_0-rmse:58.7855	validation_1-rmse:13.931
[66]	validation_0-rmse:58.7681	validation_1-rmse:13.9269
[67]	validation_0-rmse:58.7582	validation_1-rmse:13.9152
[68]	validation_0-rmse:58.7558	validation_1-rmse:13.9078
[69]	validation_0-rmse:58.7461	validation_1-rmse:13.8998
[70]	validation_0-rmse:58.7428	validation_1-rmse:13.9
[71]	validation_0-rmse:58.7392	validation_1-rmse:13.8996
[72]	validation_0-rmse:58.7386	validation_1-rmse:13.9002
[73]	validation_0-rmse:58.7356	validation_1-rmse:13.901
[74]	validation_0-rmse:58.7177	validation_1-rmse:13.8948
[75]	validation_0-rmse:58.7088	validation_1-rmse:13.8869
[76]	validation_0-rmse:58.7067	validation_1-rmse:13.8823
[77]	validation_0-rmse:58.705	validation_1-rmse:13.8749
[78]	validation_0-rmse:58.6908	validation_1-rmse:13.8677
[79]	validation_0-rmse:58.6859	validation_1-rmse:13.8687
[80]	validation_0-rmse:58.6819	validation_1-rmse:13.8705
[81]	validation_0-rmse:58.6847	validation_1-rmse:13.8747
[82]	validation_0-rmse:58.6747	validation_1-rmse:13.8751
[83]	validation_0-rmse:58.6593	validation_1-rmse:13.8763
[84]	validation_0-rmse:58.6575	validation_1-rmse:13.8672
[85]	validation_0-rmse:58.6335	validation_1-rmse:13.868
[86]	validation_0-rmse:58.6326	validation_1-rmse:13.8659
[87]	validation_0-rmse:58.6232	validation_1-rmse:13.8657
[88]	validation_0-rmse:58.6183	validation_1-rmse:13.8648
[89]	validation_0-rmse:58.6159	validation_1-rmse:13.8658
[90]	validation_0-rmse:58.6061	validation_1-rmse:13.8672
[91]	validation_0-rmse:58.6044	validation_1-rmse:13.8636
[92]	validation_0-rmse:58.6032	validation_1-rmse:13.8634
[93]	validation_0-rmse:58.5996	validation_1-rmse:13.8656
[94]	validation_0-rmse:58.5719	validation_1-rmse:13.8496
[95]	validation_0-rmse:58.5697	validation_1-rmse:13.8428
[96]	validation_0-rmse:58.5516	validation_1-rmse:13.8378
[97]	validation_0-rmse:58.5478	validation_1-rmse:13.8415
[98]	validation_0-rmse:58.5394	validation_1-rmse:13.8398
[99]	validation_0-rmse:58.5359	validation_1-rmse:13.8438
[100]	validation_0-rmse:58.5264	validation_1-rmse:13.8434
[101]	validation_0-rmse:58.5287	validation_1-rmse:13.8444
[102]	validation_0-rmse:58.514	validation_1-rmse:13.8364
[103]	validation_0-rmse:58.5122	validation_1-rmse:13.8351
[104]	validation_0-rmse:58.5105	validation_1-rmse:13.8315
[105]	validation_0-rmse:58.4947	validation_1-rmse:13.8289
[106]	validation_0-rmse:58.4908	validation_1-rmse:13.8238
[107]	validation_0-rmse:58.4867	validation_1-rmse:13.8259
[108]	validation_0-rmse:58.4717	validation_1-rmse:13.8234
[109]	validation_0-rmse:58.4723	validation_1-rmse:13.8139
[110]	validation_0-rmse:58.4673	validation_1-rmse:13.8222
[111]	validation_0-rmse:58.4641	validation_1-rmse:13.8269
[112]	validation_0-rmse:58.4615	validation_1-rmse:13.8309
[113]	validation_0-rmse:58.4601	validation_1-rmse:13.8258
[114]	validation_0-rmse:58.45	validation_1-rmse:13.8135
[115]	validation_0-rmse:58.4404	validation_1-rmse:13.8104
[116]	validation_0-rmse:58.4395	validation_1-rmse:13.8125
[117]	validation_0-rmse:58.4365	validation_1-rmse:13.818
[118]	validation_0-rmse:58.4207	validation_1-rmse:13.8164
[119]	validation_0-rmse:58.4196	validation_1-rmse:13.8151
[120]	validation_0-rmse:58.4155	validation_1-rmse:13.8158
[121]	validation_0-rmse:58.4123	validation_1-rmse:13.8177
[122]	validation_0-rmse:58.3977	validation_1-rmse:13.8166
[123]	validation_0-rmse:58.4003	validation_1-rmse:13.8145
[124]	validation_0-rmse:58.3965	validation_1-rmse:13.8161
[125]	validation_0-rmse:58.3965	validation_1-rmse:13.8131
Stopping. Best iteration:
[115]	validation_0-rmse:58.4404	validation_1-rmse:13.8104

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, eta=0.3, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=8, min_child_weight=300, missing=None, n_estimators=1000,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=42,
             silent=None, subsample=0.8, verbosity=1)

In [156]:
Y_pred = model.predict(X_valid).clip(0, 20)
Y_test = model.predict(test_data).clip(0, 20)

submission = pd.DataFrame({
    "ID": test.index, 
    "item_cnt_month": Y_test
})
submission.to_csv('xgb_submission.csv', index=False)